.header {
  width: 100%;
  height: 90px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

.header__inner {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  max-width: calc(100vw - 30px);
  height: 100%;
  margin: 0 auto;
}

.header__siteTitle {
  font-size: 32px;
  color: #070586;
}

.header__nav {
}

.header__navList {
  display: flex;
  height: 50%;
  color: inherit;
  text-decoration: none;
  }

.header__navListItem {
    margin-right: 40px;
    display: flex;
    align-items: center;
    height: 100%;
    color: inherit;
    text-decoration: none;
}

a{
    color: #070586;
    text-decoration: none;
    font-weight: bold;
}


.back {
  z-index: 10;
  width: 70%;
  height: 20%;
  background-color: #070586;
  position: absolute; 
  left: 0px;
  top: 60%;
}


p.image img {
  z-index: 20;
  width: 50%;
  position: absolute; 
  right: 0px;
  top: 25%;
  }



.comment {
  position: absolute;
  top:50%;
  left: 0%;
  font-size: 70px;
}

.
